#name{
    -webkit-text-stroke: 2px white;
}
a.active{
    text-decoration: underline;
    font-weight: 400;
    background-color: white;
}
#banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}